<h1>{{ category.name }}</h1>
{% for program in programs %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">{{program.title}}
			{{ program.id }}</h1>
			<p>{{ program.synopsis }}</p>
		</div>
	</div>
{% endfor %}

  <a href="{{ path('category_index') }}">
        Retour à la liste des categories
    </a>
